<!-- patricia corvino -->

<form action= "/contact_submitted">
	<h1>Contact Form<br></h1>
  	First Name:
   	 <input type ="text" name="name1" value="">
   	 <br> Last Name: 
    	<input type ="text" name="name2" value="">
    <br><br>
  	<button>Submit</button>
</form>