<h1>Welcome to Rock Paper Scissors. Click on an image!</h1>

<form action = "/rps/winrps">
<input type="image" name="choice" value ="Rock" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Rock-paper-scissors_%28rock%29.png/256px-Rock-paper-scissors_%28rock%29.png" alt="Submit">

<input type="image" name="choice" value = "Paper" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/af/Rock-paper-scissors_%28paper%29.png/256px-Rock-paper-scissors_%28paper%29.png" alt="Submit">

<input type="image" name="choice"  value ="Scissors" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Rock-paper-scissors_%28scissors%29.png/240px-Rock-paper-scissors_%28scissors%29.png" alt="Submit">

</form>


