
<h1>The Game....</h1>

<h2> Computer picked: <%=@compchoice%></h2>

<h2> You picked: <%=@playerchoice%></h2>

<h2> <%=@result%></h2>

<form action ="/rps">
	<br><br>
	<button>Play again</button>
</form>
